body{
    font-family: sans-serif;
}
.Container{
    background:white;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.posts{
    background:#aca7a7;
    font-size: 10;
    display: flex;
    gap: 5;
    font-size: 20px;
    padding: 10px;
}
.posts > span{
    background: white;
    color: red;
}